.sharebook-item {
  background: $primary-lighter;
  min-height: calc(100vh - 50px - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.sharebook-item-content{
  width: 100%;
  max-width: 400px;
  input{
    width: 100%;
    margin: auto;
  }

}


.image-solo-share {
  // min-height: calc(100vh - 50px - 60px);
  img {
    max-width: 110px;
    display: block;
    margin: 30px auto;
  }
}
