<!-- <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://www.google.be/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwiWvL231PXLAhXB7A4KHeYCAEgQjRwIBw&url=%2Furl%3Fsa%3Di%26rct%3Dj%26q%3D%26esrc%3Ds%26source%3Dimages%26cd%3D%26cad%3Drja%26uact%3D8%26ved%3D0ahUKEwiWvL231PXLAhXB7A4KHeYCAEgQjRwIBw%26url%3Dhttp%253A%252F%252Ftheteenbook.com%252F2015%252F09%252F25%252Fmakeup-is-part-of-who-we-are-%2525F0%25259F%252592%25258B%252F%26bvm%3Dbv.118443451%2Cd.bGg%26psig%3DAFQjCNEA0k_x7yfbBpbmCvwTtz1x2Y6OmA%26ust%3D1459882517658400&bvm=bv.118443451,d.bGg&psig=AFQjCNEA0k_x7yfbBpbmCvwTtz1x2Y6OmA&ust=1459882517658400');"> -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= asset_path 'banner2.jpg' %>);">
  <div class="banner-content">
    <h1>PowOSh</h1>
    <p>Share emotions with your friends</p>
    <a class="btn btn-primary btn-lg">Borrow a Book!</a>
  </div>
</div>
