
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(189, 69, 31,0.6) 0%, rgba(99, 90, 67,0.6) 50%), url(<%= asset_path 'banner3.jpg' %>);">
  <div class="banner-content">
    <h1>PowOSh</h1>
    <p>Share emotions with your friends</p>
    <a class="btn btn-primary btn-lg">Borrow a Book!</a>
  </div>
</div>
