<h4>Shared books</h4>
<% if @shared.count == 0 %>
<p>You don't have any shared books right now!</p>
<% else %>

<% @shared.each do |loan| %>
<div class="row-bordered-top list-row-library">
  <div class="row">

    <%= render partial: "shared/loan_card", object: loan, as: :loan,
    locals: {
      owner_pic: false
    } %>


    <div class="col-xs-12 col-md-4">
      <div class="flex-container-centered-vh list-row-130">
        <%= link_to "Get Back", "#", {class: "btn btn-primary btn-half-width", :method => :patch} %>
      </div>
    </div>

  </div>
</div>
<% end %>

<% end %>

