<div class="tabs-profile">


  <%= link_to root_path, class: "tabs-ind" do %>
    <i class="fa fa-home my-icon"></i>
    <span>Home</span>
  <% end %>

   <%= link_to new_book_path, class: "tabs-ind" do %>
    <i class="fa fa-share my-icon"></i>
    <span>Share</span>
  <% end %>

  <%= link_to new_book_path, class: "tabs-ind" do %>
    <i class="fa fa-book my-icon"></i>
    <span>Borrow</span>
  <% end %>

  <%= link_to library_path(current_user), class: "tabs-ind" do %>
    <i class="fa fa-bar-chart my-icon"></i>
    <span>Track</span>
  <% end %>



</div>
