<div class="tabs-profile">

  <a class="tabs-ind" href=<% root_path %>><i class="fa fa-home my-icon"></i>
    <span>Accueil</span>
  </a>

  <a class="tabs-ind" href=<% new_book_path %>><i class="fa fa-share my-icon"></i>
    <span>Partage</span>
  </a>

    <a class="tabs-ind" href=<% new_book_path %>><i class="fa fa-book my-icon"></i>
    <span>Emprunte</span>
  </a>

    <a class="tabs-ind" href=<% new_book_path %>><i class="fa fa-bar-chart my-icon"></i>
    <span>Bibliothèque</span>
  </a>

</div>
