<div class="wrapper-content">
<div class='sharebook-item'>

  <div class='sharebook-item-content'>

    <div class="image-solo-share">
      <%= image_tag("book_borrow.png", :alt => "Share a book") %>
    </div>


    <form action="<%= books_search_path %>" class="navbar-wagon-search">
      <input type="text" class="navbar-wagon-search-input" name="query" placeholder="Your friend can help you">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form>

  </div>

</div>
</div>
