<div class='sharebook-item'>
  <form action="<%= books_googleresults_url %>" class="navbar-wagon-search">
    <input type="text" class="navbar-wagon-search-input" name="query" placeholder="Search for your favorite book, author">
    <button type="submit" class="navbar-wagon-search-btn">
      <i class="fa fa-search"></i>
    </button>
  </form>
</div>
