.tabs-profile {
  display: flex;
  text-align: center;
  color: white;
  &.is-sticky {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
  }

}

.books-borrow {
  #borrow {
    background: linear-gradient(to top, #5E5E5E, #272626);
  }
}


.tabs-ind {
  flex: 1 1 0%;
  font-size: 10px;
  height: 50px;
  background-color: $primary-dark;
  color: white;
  display: flex;
  flex-flow: column;
  justify-content: center;
  border-right:solid 1px $primary-light;
}

.tabs-ind-2 {
  flex: 1 1 0%;
  font-size: 14px;
  height: 50px;
  background-color: $primary-dark;
  color: white;
  display: flex;
  flex-flow: column;
  justify-content: center;
  border-right:solid 1px $primary-light;
}


.tabs-ind span {
  color: white;
  opacity: 0.7;
}

.tabs-ind-2 span {
  color: white;
  opacity: 0.7;
}



.tabs-ind:hover{
  background-color: $primary-light;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.tabs-ind-2:hover{
  background-color: $primary-light;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.my-icon {
  font-size: 25px;
  color: white
}
