/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

.padded-2em {
  padding-top: 2em;
  padding-bottom: 2em;
}

.padded-top-2em {
  padding-top: 2em;

}

.no-padding-bottom {
  padding-bottom: 0;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-gray {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.bg-gray-lighter {
  background: $gray-lighter;
}

.bg-primary-light {
  background: $primary-light;
}

.row-bordered-top {
  border-top: 1px solid $primary;
  padding: 10px 0;
}

.flex-container-centered-vh {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container-centered-v {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none
  }
}
