/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  display: block;
  // position: fixed;
  width: 100%;
  // top: 110px;
  position: absolute;
  top: 0;
  z-index: 1000;
  height: 60px;
  font-size: 12px;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}
