/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  display: block;
  z-index: 2;
  position: fixed;
  width: 100%;
  top: 110px;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}
