.btn-half-width {
  width: 40%;
  margin: 10px;
  font-size: 9px;
   background-color: $primary;
  // max-width: 220px
}

.product-button-holder{
    .btn-default {
    background-color: $primary-white;
    border-color: $primary-dark;
    border-radius: 4px;
  }
    .btn-default:hover {
      color: $primary-lighter;
      background-color: $primary-dark;
      border-width: 1px;
      border-color: $primary-dark;
  }
}


@media (min-width: 768px) {
  .btn-half-width {
    font-size: 11px;
  }

}

.label {
  border-radius: 2px;
  padding: 5px;
  border: 1px solid $gray;
  background-color: white;

}

.label-danger {
  color: $red;
}

.label-default {
  color: $gray;
}

.label-success {
  color: $green;
}

.add-margin {
  margin-bottom: 15px;
}

.btn-login {
  padding-left: 40px;
  padding-right: 40px;
}

.btn-facebook {
  width: 100%;
}

.btn-list-close-holder {
  margin-left: 0;
  padding: 0;
  align: left;
  text-align: left;
}

.btn-list-close {
  color: $primary-dark;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  padding-top: 10px;

  // font-size: 10px;
  // margin: 20px;
}

@media (min-width: 768px) {
  .btn-list-close {

    padding-right: 20px;

  }

}


