.btn-half-width {
  width: 40%;
  margin: 10px;
  font-size: 9px;
}

.label {
  border-radius: 2px;
  padding: 5px;
  border: 1px solid $gray;
  background-color: white;

}

.label-danger {
  color: $red;
}

.label-default {
  color: $gray;
}

.label-success {
  color: $green;
}

.add-margin {
  margin-bottom: 15px;
}

.btn-login {
  padding-left: 40px;
  padding-right: 40px;
}

.btn-facebook {
  background-color: #43609C;
  border-color: #314773;
  width: 100%;

  &:hover {
    background-color: #283A5E;
  }
}
