// .container{
//   margin-left: 0px;
// }

.is-small{
  max-width: 700px;
}

.product {
  display: flex;
  align-items: center;
  transition: all 0.15s ease;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding: 20px 0;
  // border-top-right-radius: 3px;
  // border-top-left-radius: 3px;
}

.profile_picture_card {
  width: 50px;
  align-self: flex-start;
  margin-right: 20px;
  border-radius: 2px;
}


/* Body design */
.product-body {
  flex: 1 1 auto;
}
.product-body h3 {
  font-weight: bold;
  font-size: 14px;
  margin-top: 0;
  color: $primary-dark;
}
.product-body p {
  font-size: 13px;
  // font-weight: lighter;
  color: $primary-dark;
  margin-bottom: 0;
  opacity: .7;
}

/* Product image */
.product-image {
  align-self: flex-start;
  margin-right: 20px;
  border-radius: 2px;
}

/* Upvote design */
.product-upvote {
  padding-right: 10px;
  text-align: center;
  transition: all 0.15s ease;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
}

.product img {
  width: 65px;
  height: 65px;
  margin-right: 20px;
  border-radius: 2px;

}

.product-count {
  margin: 2px 0 0;
}
.product-arrow {
  transition: all 0.15s ease;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid transparent;
  border-bottom: 9px solid black;
  border-radius: 2px;
  margin: auto;
}

/* Controls design */
.product-controls {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0px;
}
.product-controls a {
  padding: 0 20px;
  font-size: 17px;
  color: #E6E6E6;
}
.product-controls a:hover {
  font-weight: bold !important;
  text-decoration: none;

}
.product-controls-hidden a {
  color: transparent;
  font-size: 15px;
  transition: all 0.15s ease;
  border-color: transparent;
}

/* Hover effects */
.product:hover {
  background: #f7f7fa;
  cursor: pointer;
}
.product-upvote:hover {
  color: #5898f1;
  cursor: pointer;
}
.product:hover .product-upvote { transform: scale(1.2) }
.product:hover .product-controls-hidden a { color: #E6E6E6 }
.product-upvote:hover .product-arrow { border-bottom: 9px solid #5898f1 }

.no-border-bottom {
  border-bottom: 0;
}

.product-with-buttons-box {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding: 10px 0;

}


.product-button-holder {
  display: flex;
  // justify-content: flex-end;
  justify-content: center;

}

@media (min-width: 768px) {
  .product-button-holder {

  justify-content: flex-start;

  }

}
