.header-wrapper {
  box-shadow: 0 0.5px 1px 0 $primary-light;
  margin-bottom: 20px;
  min-height: 110px;
}

.library-header {
  h1, h2, h3, h4 {
    color: $primary-dark;
    padding-bottom: 10px;
  }

  .nav li{
    margin-bottom: 0;
    background-color: white;
    font-size: 12px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

