.header-wrapper {
  // box-shadow: 0 0.5px 1px 0 $primary-light;
  margin-bottom: 20px;
  min-height: 110px;
}

.library-header {
  h1, h2, h3 {
    color: $primary-dark;
    padding-bottom: 10px;
  }
}

.nav-library {

  li{
    margin-left: 0;
    margin-right: 0;
    border-bottom: 0;
    margin-bottom: 0;
    background-color: white;
    font-size: 9px;

    border-collapse: collapse;


    a {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
      border-collapse: collapse;
    }
  }

}

