.form-edit{
    margin-top: 30px;
    #book_photo{
      max-width: 240px;
      font-size: 13px
    }
    .btn {
    background-color: $primary;
    border-width: 0px;
    border-color: transparent;
    border-radius: 4px;
  }
    .btn:hover {
      color: $primary-lighter;
      background-color: #ca4216;
      border-width: 1px;
      border-color: #ca4216;
  }
}

.form-edit-container{
  font-family: lato;
  padding-top: 60px;

}

.size-edit{
  font-size: 18px;
  height: 45px;
}



.simple_form {
  div.input {
    margin-bottom: 10px;
    clear: both;
    /* Required for Webkit, but not for Gecko */
  }

  label {
    // float: left;
    width: 260px;
    text-align: left;
    // padding: 2px 5px;
    font-weight: lighter;
  }
}


