.wrapper-gray {
  background-color: $gray-lighter;
  padding: 30px 0;
}

.wrapper-blue {
  background-color: #81BED5;
  padding: 30px 0;
}

.wrapper-white {
  background-color: white;
  padding: 30px 0;
}

.wrapper-primary-light {
  background-color: $primary-light;
  padding: 30px 0;
}

.wrapper-primary-dark {
  background-color: $primary-dark;
}

.wrapper-primary-dark {
  background-color: $primary-light;
}

.wrapper-no-bottom-padding {
  padding: 30 0 0 0;
}
